üìú –î–µ—Ç–∞–ª—ñ –∑–∞–≤–¥–∞–Ω–Ω—è:

+ –ó–∞–≤–∞–Ω—Ç–∞–∂–∏—Ç–∏ –Ω–∞–±—ñ—Ä –¥–∞–Ω–∏—Ö (—Ç—É—Ç) —É —Ä–æ–±–æ—á–µ —Å–µ—Ä–µ–¥–æ–≤–∏—â–µ (Jupyter Notebook)

–í–∏–∫–æ–Ω–∞—Ç–∏ –ø–µ—Ä–≤–∏–Ω–Ω–∏–π –æ–≥–ª—è–¥ —Å—Ç—Ä—É–∫—Ç—É—Ä–∏ –¥–∞–Ω–∏—Ö: –ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —Ä–æ–∑–º—ñ—Ä–Ω—ñ—Å—Ç—å (shape), —Ç–∏–ø–∏ —Å—Ç–æ–≤–ø—Ü—ñ–≤ (dtypes), –ø—Ä–∏–∫–ª–∞–¥–∏ –∑–∞–ø–∏—Å—ñ–≤(head etc.)

–ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ –≤—ñ–¥—Å—É—Ç–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è: 1) –í–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ Pandas —Ç–∞/–∞–±–æ Seaborn –¥–ª—è –≤–∏–∑–Ω–∞—á–µ–Ω–Ω—è –ø—Ä–æ–ø—É—â–µ–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å —É —Å—Ç–æ–≤–ø—Ü—è—Ö. 2) –ü–æ–±—É–¥—É–≤–∞—Ç–∏ –≤—ñ–∑—É–∞–ª—ñ–∑–∞—Ü—ñ—é (–Ω–∞–ø—Ä., heatmap –∞–±–æ barplot), —â–æ–± –ø–æ–∫–∞–∑–∞—Ç–∏ –æ–±—Å—è–≥–∏ –≤—ñ–¥—Å—É—Ç–Ω—ñ—Ö –¥–∞–Ω–∏—Ö.

–ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ —Ä–æ–∑–ø–æ–¥—ñ–ª –¥–∞–Ω–∏—Ö: 1) –ü–æ–±—É–¥—É–≤–∞—Ç–∏ –≥—ñ—Å—Ç–æ–≥—Ä–∞–º–∏ –¥–ª—è —á–∏—Å–ª–æ–≤–∏—Ö –∑–º—ñ–Ω–Ω–∏—Ö, –≤–∏–∑–Ω–∞—á–∏—Ç–∏ –Ω–æ—Ä–º–∞–ª—å–Ω—ñ—Å—Ç—å —Ä–æ–∑–ø–æ–¥—ñ–ª—É. 2) –í–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ boxplot –¥–ª—è –ø–æ—à—É–∫—É –≤–∏–∫–∏–¥—ñ–≤.

–í–∏—è–≤–∏—Ç–∏ –∫–æ—Ä–µ–ª—è—Ü—ñ—ó: 1) –û–±—á–∏—Å–ª–∏—Ç–∏ –∫–æ–µ—Ñ—ñ—Ü—ñ—î–Ω—Ç–∏ –∫–æ—Ä–µ–ª—è—Ü—ñ—ó –º—ñ–∂ —á–∏—Å–ª–æ–≤–∏–º–∏ –∑–º—ñ–Ω–Ω–∏–º–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é Pandas. 2) –ü–æ–±—É–¥—É–≤–∞—Ç–∏ —Ç–µ–ø–ª–æ–≤—É –∫–∞—Ä—Ç—É –∫–æ—Ä–µ–ª—è—Ü—ñ–π —ñ–∑ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º Seaborn.

–î–æ–∫—É–º–µ–Ω—Ç—É–≤–∞–Ω–Ω—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤ –∞–Ω–∞–ª—ñ–∑—É: –ó—ñ–±—Ä–∞—Ç–∏ —É –†–µ–∑—É–ª—å—Ç–∞—Ç –ê–Ω–∞–ª—ñ–∑—É (markdown –≤ –∫—ñ–Ω—Ü—ñ –≤–∞—à–æ–≥–æ Notebook) –≤—Å—ñ –∫–ª—é—á–æ–≤—ñ –≤–∏—Å–Ω–æ–≤–∫–∏: –æ—Å–Ω–æ–≤–Ω—ñ —Ä–æ–∑–ø–æ–¥—ñ–ª–∏, –ø—Ä–æ–ø—É—Å–∫–∏, –≤–∏–∫–∏–¥–∏, –∫–æ—Ä–µ–ª—è—Ü—ñ—ó.

–ó–∞–ª–∏—Ç–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç —Ä–æ–±–æ—Ç–∏ –Ω–∞ GitHub: –°—Ç–≤–æ—Ä–∏—Ç–∏ —Å–æ–±—ñ –≥—ñ–ª–∫—É –Ω–∞ GitHub (—è–∫—â–æ —â–µ –Ω–µ —Å—Ç–≤–æ—Ä–∏–ª–∏) –≤—ñ–¥ master/main –≥–æ–ª–æ–≤–Ω–æ–≥–æ —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä—ñ—é –ø—Ä–æ—î–∫—Ç—É —Ç—É—Ç, –∑–∞–ª–∏—Ç–∏ —Å–≤—ñ–π –Ω–æ—É—Ç–±—É–∫ —ñ –∑—Ä–æ–±–∏—Ç–∏ Pull Request.

üìéüìé –ü—Ä–∏–º—ñ—Ç–∫–∞: –ú–æ–∂–µ—Ç–µ –≤–∑—è—Ç–∏ –∑–∞ –æ—Å–Ω–æ–≤—É –ú–æ–¥—É–ª—å 5 —Ç–∞ –Ω–∞—à–µ –¥–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è.

# General Data Overview

For the purpose of this project we will use a customer churn prediction dataset *internet_service_churn.csv*. Customer churn is the percentage of customers who stopped using a company's product or service during a specified time period. This is a vital metric because retaining existing customers is more cost-effective than acquiring new ones. Churn can occur due to various reasons, including unsatisfactory service, competing products, changing customer needs, and a lack of engagement. 

The main goal of this project is to help companies with investigating and analysing the existing data (through EDA) and creating effective predictive model(s) for further implementation targeted strategies to retain customers, enhance consumer satisfaction, and maintain sustainable growth.

The provided dataset belongs to an unknown internet service provider and contains information from over 70,000 unique customers, including their internet usage, subscription age, number of service failures and additional services used.

The dataset contains information about subscribers and their likelihood of churning based on various factors.

Meaning of the Columns names:

- `id`: Unique identifier for each customer.

- `is_tv_subscriber`: Indicates if the customer has a TV subscription (1 = Yes, 0 = No).

- `is_movie_package_subscriber`: Indicates if the customer has a movie package subscription (1 = Yes, 0 = No).

- `subscription_age`: The age of the subscription in years.

- `bill_avg`: Average monthly bill amount.

- `remaining_contract`: Remaining contract duration in years.

- `service_failure_count`: Number of service failures reported by the customer.

- `download_avg`: Average download speed.

- `upload_avg`: Average upload speed.

- `download_over_limit`: Indicates if the customer has exceeded their download limit (1 = Yes, 0 = No).

- `churn`: Indicates if the customer has churned (1 = Yes, 0 = No).

### Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Datasets Load + DataFrames build

In [4]:
data = pd.read_csv("internet_service_churn.csv")
df = data.copy()

### Initial structure overview

- **Step 1.** Cheking first 10 rows of the dataset:

In [6]:
df.head(10)

,id,is_tv_subscriber,is_movie_package_subscriber,subscription_age,bill_avg,reamining_contract,service_failure_count,download_avg,upload_avg,download_over_limit,churn
0,15,1,0,11.95,25,0.14,0,8.4,2.3,0,0
1,18,0,0,8.22,0,NaN,0,0.0,0.0,0,1
2,23,1,0,8.91,16,0.00,0,13.7,0.9,0,1
3,27,0,0,6.87,21,NaN,1,0.0,0.0,0,1
4,34,0,0,6.39,0,NaN,0,0.0,0.0,0,1
5,56,1,1,11.94,32,1.38,0,69.4,4.0,0,0
6,71,0,0,8.96,18,0.00,0,21.3,2.0,0,1
7,84,0,0,5.48,14,NaN,1,0.0,0.0,0,1
8,94,0,0,8.54,0,NaN,0,0.0,0.0,0,1
9,112,0,0,8.33,0,NaN,0,0.0,0.0,0,1

- **Step 2.** Cheking dataset information:

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72274 entries, 0 to 72273
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           72274 non-null  int64
 1   is_tv_subscriber             72274 non-null  int64
 2   is_movie_package_subscriber  72274 non-null  int64
 3   subscription_age             72274 non-null  float64
 4   bill_avg                     72274 non-null  int64
 5   reamining_contract           50702 non-null  float64
 6   service_failure_count        72274 non-null  int64
 7   download_avg                 71893 non-null  float64
 8   upload_avg                   71893 non-null  float64
 9   download_over_limit          72274 non-null  int64
 10  churn                        72274 non-null  int64
dtypes: float64(4), int64(7)
memory usage: 6.1 MB

In [12]:
df.describe()

,id,is_tv_subscriber,is_movie_package_subscriber,subscription_age,bill_avg,reamining_contract,service_failure_count,download_avg,upload_avg,download_over_limit,churn
count,7.227400e+04,72274.000000,72274.000000,72274.000000,72274.000000,50702.000000,72274.000000,71893.000000,71893.000000,72274.000000,72274.000000
mean,8.463182e+05,0.815259,0.334629,2.450051,18.942483,0.716039,0.274234,43.689911,4.192076,0.207613,0.554141
std,4.891022e+05,0.388090,0.471864,2.034990,13.215386,0.697102,0.816621,63.405963,9.818896,0.997123,0.497064
min,1.500000e+01,0.000000,0.000000,-0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.222165e+05,1.000000,0.000000,0.930000,13.000000,0.000000,0.000000,6.700000,0.500000,0.000000,0.000000
50%,8.477840e+05,1.000000,0.000000,1.980000,19.000000,0.570000,0.000000,27.800000,2.100000,0.000000,1.000000
75%,1.269562e+06,1.000000,1.000000,3.300000,22.000000,1.310000,0.000000,60.500000,4.800000,0.000000,1.000000
max,1.689744e+06,1.000000,1.000000,12.800000,406.000000,2.920000,19.000000,4415.200000,453.300000,7.000000,1.000000

- **Step 3.** Cheking the shape of the dataset and the types of values:

In [10]:
df.shape

(72274, 11)

In [15]:
df.dtypes

id                               int64
is_tv_subscriber                 int64
is_movie_package_subscriber      int64
subscription_age               float64
bill_avg                         int64
reamining_contract             float64
service_failure_count            int64
download_avg                   float64
upload_avg                     float64
download_over_limit              int64
churn                            int64
dtype: object

### Data Visualization Methods

# Exploratory Data Analysis (EDA)

# Results

You can use a logistic regression model to solve the problem but remember to keep the business context in mind. For instance, retention surveys have shown that while price and product are important, most customers churn because of service failures and dissatisfaction with the customer care team.